In [2]:
## Predicting Energy Boosts
import pandas as pd
import tensorflow as tf
import numpy as np
import sklearn as sk

import functools

In [3]:
#Load Data
# Loading Data

file_name = 'C:\\Users\\roike\\Documents\\research\\MachineDJ\\DataSets\\energy_boost_xy.xlsx'
mix_df = pd.read_excel(file_name)

num_of_keys = 12
convert_dict = {
                "tempo1": np.float32,
                "tempo2": np.float32,
                "y": np.int16
               }

for i in range(num_of_keys):
    dict_key = "key1"+str(i+1)
    convert_dict[dict_key] = np.int32

for i in range(num_of_keys):
    dict_key = "key2"+str(i+1)
    convert_dict[dict_key] = np.int32

mix_df = mix_df.astype(convert_dict)
mix_df.head()

,mode1,tempo1,key11,key12,key13,key14,key15,key16,key17,key18,...,key24,key25,key26,key27,key28,key29,key210,key211,key212,y
0,1,0.34188,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0.34188,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0.34188,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0.34188,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0.34188,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
df1 = mix_df[mix_df.columns[:14]]
df2 = mix_df[mix_df.columns[14:-1]]
ydf = mix_df[mix_df.columns[-1]]